/**
 *    Metin2Armory
 *  @author Alkimys <alkimys@gmail.com>
 *  @version 1.98 20/08/2012
 *  @link http://mt2armory.funky-emu.net/
 *
 *    [style.css]
 *  Feuille de style pou tooltip & stuff Metin2Armory.
 *
 *  Auteur original : Alkimys
 *
 **/

div#tooltip {
   position:absolute;
   visibility:hidden;
   z-index:100;
	background:rgba(0,0,0,0.5);
    border: white;
	border-style: solid;
	border-width: 15px 12px 16px 18px;
	-moz-border-image: url(border2.png) 15 12 16 18 repeat;
	-webkit-border-image: url(border2.png) 15 12 16 18 repeat;
	-o-border-image: url(border2.png) 15 12 16 18 repeat;
	border-image: url(border2.png) 15 12 16 18 repeat;
   margin-left:25px;
   padding: 4px 4px 4px 4px;
   color:#A78C7A;
}


div#tooltip table tr {
    background:rgba(0,0,0,0.1);
}


#inventaire {
  background:url(../../include-armory/img/inventaire.png) no-repeat;
  width:155px;
  height:187px;
  border:0;
  border-style:none;
  display:block;
  position:relative;
}

#inventaire img {
  border: none;
  background-color: transparent;
}

#data-heaume {
  width:32px;
  height:32px;
  top:5px;
  left:41px;
  border:0;
  border-style:none;
  position: absolute;
}

#data-arme {
  width: 32px;
  height: 96px;
  top: 5px;
  left: 4px;
  border: 0;
  border-style: none;
  position: absolute;
}

#data-armure {
  width: 32px;
  height: 64px;
  top: 40px;
  left: 40px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}

#data-bouclier {
  width: 32px;
  height: 32px;
  top: 37px;
  left: 78px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}

#data-bracelet {
  width: 32px;
  height: 32px;
  top: 70px;
  left: 78px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}


#data-collier {
  width: 32px;
  height: 32px;
  top: 88px;
  left: 117px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}


#data-boucle {
  width: 32px;
  height: 32px;
  top: 54px;
  left: 117px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}


#data-chaussure {
  width: 32px;
  height: 32px;
  top: 148px;
  left: 40px;
  border: 0;
  padding:0;
  border-style: none;
  position: absolute;
}